*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  .carousel__container {
    padding-top: 50px;
    width: 42%;
    margin: auto;
    overflow: hidden;
    position: relative;
  }
  
  .carousel__slide {
    display: flex;
    width:100%;
    height: 600px;
  }
  
  #prevBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    left: 1%;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }
  
  #nextBtn {
    position: absolute;
    top: 50%;
    z-index: 10;
    right: 1%;
    font-size: 30px;
    color: white;
    cursor: pointer;
  }
